<div class="news">
    <span>Notification</span><span class="text1">
        <marquee class="marquee">The ITR filing due date for FY 2022-23 (AY 2023-24) is 31st July 2023. Avoid paying
            penalty later and
            file your return on time</marquee>
    </span>
</div>
<div class="filter">
    <form class="inline-form" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <input formControlName="Pan" type="text" placeholder="Enter Pan" name="Pan">
            <!-- oninput="this.value = this.value.toUpperCase()"> -->
        <select formControlName="year" id="Year" name="Year">
            <option selected="true" disabled="disabled">Year</option>
            <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
        </select>
        <select formControlName="status" id="Status" name="Status">
            <option selected="true" disabled="disabled">Status</option>
            <option *ngFor="let status of statuses" [ngValue]="status">{{status}}</option>
        </select>
        <button type="submit" class="button">Apply</button>
    </form>
</div>
<div class="body">
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Name</th>
                <th class="text-left">Pan Number</th>
                <!-- <th class="text-left">Email</th> -->
                <th class="text-left">Mobile Number</th>
                <th class="text-left">Year</th>
                <th class="text-left">Form 16</th>
                <th class="text-left">ITR File</th>
                <th class="text-left">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr *ngFor="let users of userList | paginate: config">
                <td class="text-left">{{users.userName}}</td>
                <td class="text-left">{{users.pancard}}</td>
                <!-- <td class="text-left">{{users.email}}</td> -->
                <td class="text-left">{{users.mobileNumber}}</td>
                <td class="text-left">{{users.year}}</td>
                <td class="text-left"><a [routerLink]="[]"
                        (click)="downloadFile(users.pancard, users.year, users.form16File)">{{users.form16File}}</a>
                </td>
                <td class="text-left"><span
                        *ngIf="users.itrReturnedFile != ''; else elseBlock">{{users.itrReturnedFile}}</span>
                    <ng-template #elseBlock>Not Available</ng-template>
                </td>
                <td class="text-left">
                    <button *ngIf="users.status != undefined; else statusBlock" [ngClass]="displayStatus(users.status)"
                        [disabled]="true">{{users.status}}</button>
                    <ng-template #statusBlock>Not Applicable</ng-template>
                </td>

                <td class="text-left"><button [disabled]="users.itrStatusFlag"
                        (click)="redirectToFileUpload(users.pancard)" class="btn btn-sm btn-outline-info button">Upload
                        ITR File</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="has-text-centered page">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>