<div class="container">
    <div class="row">
       <div class="col-md-4 mx-auto">
          <div class="myform form ">
             <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group" >
                    <label class="passLabel">Old Password</label>
                   <input formControlName="currentPassword" type="password"  class="form-control my-input" placeholder="Old Password">
                </div><br>
                <div class="form-group">
                    <label class="passLabel">New Password</label>
                   <input formControlName="newPassword" type="password"  class="form-control my-input" placeholder="New Password">
                </div><br>
                <div class="form-group">
                    <label class="passLabel">Confirm New Password</label>
                   <input formControlName="confirmPassword" type="password"  class="form-control my-input" placeholder="Confirm Password">
                </div>
                <br>
                <div class="text-center ">
                   <button class="btn btn-block btn-outline-info send-button tx-tfm" type="submit" [disabled]="!changePasswordForm.valid" >Change Password</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>